venv

*.pyc
vulcanized.html

epschedule-*.json
epschedule-v2-*.json
service_account.json
service_account*.json

/node_modules

.DS_Store
/.pytest_cashe

*.xcuserstate
*.xcuserdatad
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/*.xcworkspace/xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
DerivedData/
.build/
Xcode/
*.xccheckout

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
.eggs/

.pytest_cache/
.cache/

*.p12
*.cer
*.pem
*.pkpass

*.md
*.MD
README*
**/README*